body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #222;
  color: #fff;
  padding: 20px 0;
  margin: 0;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.produto {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  background-color: #222;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px;
  margin-top: 40px;
}
